<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
    />
  </head>

  <body>
    <div class="topnav">
      <a href="{{ url_for('index') }}"> Home </a>
      <a href="{{ url_for('portfolio') }}"> Portfolio </a>
      <div class="topnav-right">
        <a href="{{ url_for('login') }}"> Log in </a>
        <a href="{{ url_for('signup') }}"> Sign Up </a>
      </div>
    </div>
    <div class="login-container">
      <div class="login-wrapper">
        <img
          src="{{ url_for('static', filename='images/stockimage4.jpg') }}"
          alt="Logo"
          class="login-image"
        />
        <div class="wrapper">
          <form action="">
            <h1>Login</h1>
            <div class="input-box">
              <input type="text" placeholder="Username" required />
            </div>
            <div class="input-box">
              <input type="password" placeholder="Password" required />
            </div>
            <div class="remember-forgot">
              <label><input type="checkbox" /> Remember me</label>
              <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link"></div>
            <p class="register">
              Don't have an account?
              <a href="{{ url_for('signup') }}">Register</a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      Stock Trading Program created by Andrew Foxall, Ken Lai, and Sam Nhean
    </footer>
  </body>
</html>
